<html>
    <head>
        <style>
            table
            {
                border-collapse: collapse;
                border-spacing: 0px;
            }

            table, th, td
            {
                padding: 5px;
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Street</th>
                    <th>Dwelling</th>
                    <th>Rent</th>
                    <th>Title</th>
                    <th>Description excerpt</th>
                </tr>
            </thead>
        <tbody>

